:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.2;
}

.results {
  width: fit-content; 
  margin: 0 auto;
}

.resultsHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.resultsHeader > p {
  width: 200px;
  text-align: left;
  text-transform: uppercase;
}

.resultsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultsItem {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  background-color: #e6e6e6;
  border-radius: 6px;
  box-shadow: #929292 0px 0px 4px;
}

.resultsItem > p {
  width: 200px;
  text-align: left;
  text-transform: uppercase;
}